sudo: false

matrix:
  fast_finish: true
  include:
    - python: "3.5"
      env: TOXENV=lint
    - python: "3.5"
      env: TOXENV=pylint
    - python: "3.6"
      env: TOXENV=lint
    - python: "3.6"
      env: TOXENV=pylint
    - python: "3.7"
      env: TOXENV=lint
    - python: "3.7"
      env: TOXENV=pylint
    

branches:
  only:
    - master

install: 
  - pip install -U tox
  - pip install -r requirements_test.txt
language: python

script: tox
